/* .logo{
    display: flex;
    justify-content: center;
    align-items: center;
} */
header{
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}
.logo{
    margin-left: 40%;
    /* width: 50%;
    display: flex;
    justify-content: center;
    background-color: blueviolet; */
}